- var pathToAssets = '/public'
- var liveURL = 'http://api.lafinity.com'

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='#{pathToAssets}/favicon.ico')
    title=pageTitle
    // Bootstrap core CSS
    link(href='#{pathToAssets}/bootstrap-3.2.0/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='#{pathToAssets}/css/styles.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
    script(src='#{pathToAssets}/bootstrap-3.2.0/docs/assets/js/ie8-responsive-file-warning.js')
    script(src='#{pathToAssets}/bootstrap-3.2.0/docs/assets/js/ie-emulation-modes-warning.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='#{pathToAssets}/bootstrap-3.2.0/docs/assets/js/ie10-viewport-bug-workaround.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js')
  body
    .site-container
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Lafinity
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/tools') Tools
              if session.isLoggedIn
                li.dropdown
                  a(href="#",data-toggle="dropdown",role="button",aria-expanded="false").dropdown-toggle Your Products
                    span &nbsp;
                    span.caret
                  ul(role="menu").dropdown-menu
                    li
                      a(href="/script") Marketing Overlays
                    if session.isAdmin
                      li.divider
                      li
                        a(href="/rules/all") Rules
              //li
                a(href='#about') About
              //li
                a(href='#contact') Contact
            ul.nav.navbar-nav.navbar-right
              if session.isAdmin
                li.dropdown
                  a(href="#",data-toggle="dropdown",role="button",aria-expanded="false").dropdown-toggle Admin
                    span &nbsp;
                    span.caret
                  ul(role="menu").dropdown-menu
                    li
                      a(href="/admin/dashboard") Dashboard
                    li
                      a(href="/admin/clients") Client Overview
                    li
                      a(href="/admin/platform") Platform Configuration
              if session.isLoggedIn
                li.dropdown
                  a(href="#",data-toggle="dropdown",role="button",aria-expanded="false").dropdown-toggle=session.fullname
                    span &nbsp;
                    span.caret
                  ul(role="menu").dropdown-menu
                    li
                      a(href="/profile/") Profile
                    li
                      a(href="/logout") Logout
              else
                .navbar-form
                  a(href="/login", style='margin-left:15px;') Login
                  a(href="/signup", class='btn btn-default', style='margin-left:10px;') Create Account
          // /.nav-collapse
      .container
        .starter-template
          section.content
            block content
      include footer


    // /.container
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
