//
   Created by matthias on 1/6/15.


extends ../layout

block content
  action = script ? "/script/edit/"+script.id : "/script/create";
  title = script ? script.title : ''
  script_title = script ? script.script_title : ''
  script_title_tag = script ? script.script_title_tag : ''
  script_message = script ? script.script_message : ''
  script_image_url = script ? script.script_image_url : ''
  script_button_text = script ? script.script_button_text : ''
  script_button_url = script ? script.script_button_url : ''
  script_button_tag = script ? script.script_button_tag : ''
  script_button_classes = script ? script.script_button_classes : ''
  script_active = script ? script.active : false
  script_cookie_expiration = script ? script.script_cookie_expiration : '0'

  script(type="text/javascript").
    var preview = angular.module("preview",[]);

    preview.controller("previewController",function($scope){
      $scope.scope_script_title = "#{script_title}";
      $scope.scope_script_title_tag = "#{script_title_tag}";
      $scope.scope_script_message = "#{script_message}";
      $scope.scope_script_image_url = "#{script_image_url}";
      //$scope.scope_script_button_text = "#{script_button_text}";
      //$scope.scope_script_button_tag = "#{script_button_tag}";
      //$scope.scope_script_button_classes = "#{script_button_classes}";
      //$scope.scope_script_button_url = "#{script_button_url}";
    });

  div.row(ng-app='preview', ng-controller='previewController')
    div.col-xs-12.col-sm-6
      form(method="post", action=action)
        h2 Configuration
        .row
          .form-group.col-xs-9.col-sm-9
            label(for="title") Name
            input#title(name="title", value=title, class='form-control',ng-model='title')
          .form-group.col-xs-3.col-sm-3
            label Active?
            .checkbox
              label
                input(type='checkbox')
                | yes
          .form-group.col-xs-6.col-sm-4
            label(for="script_cookie_expiration") Freqency in hours
            input#script_cookie_expiration(name="script_cookie_expiration", value=script_cookie_expiration, class='form-control')
          //script_active
        h2 Modal Content
        .row
          .form-group.col-xs-9.col-sm-9
            label(for="script_title") Headline
            input#script_title(name="script_title", value=script_title, class='form-control', ng-model='script_title', ng-init='script_title = scope_script_title')
          .form-group.col-xs-3.col-sm-3
            label(for="script_title_tag") HTML Element
            select.form-control(name="script_title_tag")
              option h1
              option h2
              option h3
        div.form-group
          label(for="script_message") Message
          textarea#script_message(name="script_message", class='form-control', ng-model='script_message', ng-init='script_message = scope_script_message')= script_message
        div.form-group
          label(for="script_image_url") Image URL
          input#script_image_url(name="script_image_url", value=script_image_url, class='form-control', ng-model='script_image_url', ng-init='script_image_url = scope_script_image_url')

        //div.form-group
          label(for="script_button_text") Button Text
          input#script_button_text(name="script_button_text", value=script_button_text, class='form-control', ng-model='script_button_text', ng-init='script_button_text = scope_script_button_text')
          //, ng-init='script_button_text = '+script_button_text + ';'
        div.form-group
          label(for="script_button_url") Target URL
          input#script_button_url(name="script_button_url", value=script_button_url, class='form-control', ng-model='script_button_url', ng-init='script_button_url = scope_script_button_url')

        .row
          .form-group.col-xs-4.col-sm-3
              label(for="script_title_http") Protocol
              select#script_button_tag.form-control(name="script_title_http")
                option http://
                option https://
          .form-group.col-xs-12.col-sm-4
            label(for="script_button_text") Button Text
            input#script_button_text(name="script_button_text", value=script_button_text, class='form-control', ng-model='script_button_text', ng-init='script_button_text = scope_script_button_text')
          //.form-group.col-xs-12.col-sm-5
            label(for="script_button_url") Link
            input#script_button_url(name="url", value=script_button_url, class='form-control', ng-model='script_button_url', ng-init='script_button_text = scope_script_button_url')



        input(type="submit", value="Save", class="btn btn-primary")
    div.col-sm-6.hidden-xs.preview
      //h2 Preview
      h3 Start typing to see the modal preview
      div.backdrop
        div.dialog
          div.content
            div.header
              h2 {{script_title}}
            div.body {{script_message}}
            div.footer
              a(href='#', class='btn btn-block btn-danger') {{script_button_text}}
